@import "tailwindcss";
@import "./styles/theme.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: Inter, sans-serif;
}